:root{
    --primary-color: #76d17c;
    --secondary-color: aliceblue;
    --main-font-family: 'Playfair Display', serif;
    --regular-font-family: 'Poppins', sans-serif;
}
body{
    font-family:  var(--regular-font-family);
}

h1{
    font-family: var(--main-font-family);
    font-weight: bold;
    color: black;
    font-size: 96px;
}
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 2;
}
.project-details h2{
    font-size: 50px;
    font-family: var(--main-font-family);
}
.hero{
    background: var(--secondary-color);
    text-align: center;
    line-height: 1.5;
    padding: 80px 20px;
  
}
.hero h2{
    font-size: 36px;
    font-weight: bold;
    color: #272142;
   
}

h3{
    font-size: 24px;
    font-weight: normal;
    color: #272142;
    line-height: 2;
}
.btn-branding{
    background:var(--primary-color) ;
    color: var(--secondary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 30px;

}
.btn-outline{
    background: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 30px;
}
.project-details{
    padding: 120px 60px;
}
.content-container h1{
    font-size: 64px;
    line-height: 80px;
}
.content-container h2{
    font-size: 18px;
    font-weight: bold;
    color: #272142;
}

.content-container p{
    font-size: 16px;
    font-weight: normal;
}

.content-container{
    padding: 60px 20px; 
}
.content{
    margin: 30px;
}
.content-container h3{
font-size: 24px;
font-weight: bold;

}
.component{
    font-size: 14px;
}
nav{
    padding: 20px 0;
}
.logo{
    max-height: 40px;
    width: 80px;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}
nav a{
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}
nav li.active a{
color: var(--primary-color);
}

nav a:hover,
.email-link:hover{
color: var(--primary-color);
}
footer{
    margin: 60px 0;
}
.email-link{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.social-links a{
margin: 0 30px;
color: var(--primary-color);
background-color: var(--secondary-color);
padding: 10px 14px;
font-size: 18px;
border-radius: 50%;
transition: all 100ms ease-in-out;
}
.social-links a:hover{
    color: white;
    background-color: var(--primary-color);
}
.contact-box{
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}
.contact-box h4{
font-size: 48px;
font-family: var(--main-font-family);
font-weight: bold;
}
.contact-box p{
    margin: 0;
}
.myself{
    border-radius: 5px;
    height: 100%;
}
.weather{
   max-width: 100%;
    height: 500px;
}
@media(max-width: 960px){
h1{
    font-size: 44px;
    line-height: 1.5;
}
.logo{
    width: 40px;
}

.project-details h2{
    font-size: 42px;
}
.project-details{
    padding: 0;
    text-align: center;
}
.content-container{
    text-align: center;
    padding: 0;
}
nav a{
    font-size: 14px;
}
.contact-box{
    padding: 30px;
    text-align: center;
}
.contact-box h4{
    font-size: 24px;
}
}

