:root{
    --primary-color: #6C63FF;
    --secondary-color:#f9f7fe;
    --main-font-family: 'Playfair Display', serif;
    --regular-font-family: 'Poppins', sans-serif;
}
body{
    font-family:  var(--regular-font-family);
}

h1{
    font-family: var(--main-font-family);
    font-weight: bold;
    color: black;
    font-size: 96px;
}
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 2;
}
.project-details h2{
    font-size: 60px;
    font-family: var(--main-font-family);
}
.hero{
    background: var(--secondary-color);
    text-align: center;
    line-height: 1.5;
    padding: 150px 20px;
  
}
.hero h2{
    font-size: 36px;
    font-weight: bold;
    color: #272142;
   
}

h3{
    font-size: 24px;
    font-weight: normal;
    color: #272142;
    line-height: 2;
}
.btn-branding{
    background:var(--primary-color) ;
    color: var(--secondary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 30px;

}
.btn-outline{
    background: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 30px;
}
.project-details{
    padding: 120px 60px;
}
@media(max-width: 960px){
h1{
    font-size: 44px;
    line-height: 1.5;
}
.hero{
    padding: 80px 20px;
}
.project-details h2{
    font-size: 42px;
}
.project-details{
    padding: 0;
    text-align: center;
}
}

